{% extends "base.html" %}

{% include 'search_bar.html' %}

{% block content %}
    <section class="most-search spad">
        <div class="content">
            <div class="tab-content">
                    <div class="row">
                        {% for material in material_list %}
                            <div class="col-lg-4 col-md-6">
                                <div class="listing__item">
                                    {% load static %}
                                    <img style="float: left; width: 140px; height: 190px;"src="{% static 'home/img/OS.png' %}" alt="" />
                                    <h6>Title: {{ material.title }}</h6>
                                    <h6>Author: {{ material.author }}</h6>
                                    <h6>Type: {{ material.material_type }}</h6>
                                    <h6>Status: {{ material.status }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </section>
{% endblock %}