{% extends "base.html" %}

{% block content %}
    <div class="searchBar">

        <form method="post" id="search_form">
            {% csrf_token %}
            <input type="search" name="search_field" placeholder="type name/author/course and proper material will be shown" />
            <input type="submit" class="btn" value="search" />

        </form>

    </div>

    <section class="most-search spad">
        <div class="content">

            <h1>Inno library</h1>
                <div class="row">
                    {% for material in material_list %}
                        <div class="col-lg-4 col-md-6">
                            <div class="listing__item">
                                <h1>Title: {{ material.title }}</h1>
                                <p><strong>Author:</strong> {{ material.author }}</p>
                                <p><strong>Date of publication:</strong> {{ material.date_publication }}<p>
                                <p><strong>Time of publication:</strong> {{ material.time_publication }}<p>
                                <p><strong>Tags:</strong> {% for tag in material.tags.all %} {{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                            </div>

                            <form method="POST" action= {% url "material" material.id %}> 
                                {% csrf_token %}
                                <input type="submit" class="btn" value="View">
                            </form>
                        </div>

                    {% endfor %}
                </div>
        </div>
    </section>
{% endblock %}