<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form action="registration.html" method="post">

    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required>
    </div>


    <div>
      <label for="surname">Surname</label>
      <input type="text" name="name" id="surname" required>
    </div>

    <div>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div>
      <label for="conf_password">Confirm password</label>
      <input type="password" name="password" id="conf_password" required>
    </div>

    <button type="submit">Submit</button>

  </form>
</body>
</html>