{% load static %}
{% block block_entry %}
    <article class="brick entry format-standard animate-this">

        <a href="/material/{{material.id}}" class="thumb-link">
                <img src="{% static 'home/img/maxim.jpg' %}"
                     srcset="{% static 'home/img/maxim.jpg' %} 1x, {% static 'home/img/maxim.jpg' %} 2x"
                     alt="">
            </a>

        <div class="entry__text">
            <div class="entry__header">

                <h1 class="entry__title"><a href="/material/{{material.id}}">{{ material.title }}</a></h1>

            </div>
            <div class="entry__excerpt">
                <p> {{ material.author }}</p>
            </div>
        </div> <!-- end entry__text -->

    </article> <!-- end entry -->

{% endblock %}