{% extends 'base.html' %}
{# {% load crispy_forms_tags %} #}
{% block content %}
    <form accept-charset="UTF-8" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" required="required" value={{ title }}>
            </div>
            <div class="form-group">
                <label for="author" required="required">Author</label>
                <input type="text" name="author" class="form-control" id="author" value={{ author }}>
            </div>
            <div class="form-group">
                <label for="type">Type of material</label>
                <select class="form-control" id="material_type" name="material_type" required="required">
                    <option {% if material_type == "Book" %}selected{% endif %}>Book</option>
                    <option {% if material_type == "Lecture" %}selected{% endif %}>Lecture</option>
                    <option {% if material_type == "Assignment" %}selected{% endif %}>Assignment</option>
                </select>
            </div>
            <hr>
            <div class="form-group mt-3">
                <label class="mr-2">Upload your Material:</label>
                <input type="file" name="file">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}